{% extends 'base.html.twig' %}

{% block body %}
    <div class="custom_form col-12 col-md-6 col-lg-4 p-4 my-5">
        {{ form_start(loginForm) }}
        {% include 'form/_flashes.html.twig' %}
        {{ form_end(loginForm) }}
    </div>
{% endblock %}
